<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./js/p5.min.js"></script>
  </head>
  <body>  
  </body>
  <script src="./js/pieces/{{scriptName}}"></script>
</html>
